<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, 
  maximum-scale=1.0, minimum-scale=1.0">
        <script type="text/javascript" src="/public/js/admin/admin.js"></script>
        <title>Admin</title>
    </head>
    <body>
        <h1> Administrator Page</h1>
        <br>

        <div id="setForm">
            <h3>NetworkInterface</h3>
            <input type="text" name="NetworkInterface" value="<%=Setting.NetworkInterface%>">
            <br>
            <br>

            <h3>get IP from NetworkInterface?   (type true or false)</h3>
            <br>
            <input type="text" name="getIPfromInterface" value="<%=Setting.getIPfromInterface%>">
            ( If true, system automatically gets IP from Network Interface like Wi-Fi)
            <br>
            <br>

            <h3>IP  (type ip address)</h3>
            <br>
            <input type="text" name="ip" value="<%=Setting.ip%>">
            (if you want to use this IP, set false to get IP from NetworkInterface)
            <br>
            <br>

            <h3>use https?  (type true or false)</h3>
            <input type="text" name="https" value="<%=Setting.https%>">
            <br>
            <br>

            <h3>port    (type number)</h3>
            <input type="text" name="port" value="<%=Setting.port%>">
            <br>
            <br>

            <h3>root    (type directory path)</h3>
            <br>
            <input type="text" name="root" value="<%=Setting.root%>">
            (highest directory that user can explorer)
            <br>
            <br>

            <h3>users   (type string to ID, string to Password, true or false to Admin)</h3>
            -----If there is No User, System will skip login check--
            <br>
            <div class="userBox">                
                <% for(var user of Setting.users){%>
                    <div name="user">
                        User ID : <input type="text" name="id" value="<%=user.id%>">
                        Password : <input type="text" name="password" value="<%=user.password%>">
                        Admin : <input type="text" name="admin" value="<%=user.admin%>">
                        <input type="button" value="Delete" onclick="deleteUser(this)">
                        <br>
                    </div>
                <% } %>
                <div>
                    <input type="button" value="Add" onclick="addUser()">
                </div>
            </div>
            
            <br>
            <br>
            <a href="/">
                <input type="button" value="Home">
            </a>
            <input type="button" value="Save" onclick="requestSave()">
            <input type="button" value="Reset" onclick="requestReset()">
        </div>
    </body>
</html>